/* Fuente y color */
html{
    font-family: 'League Spartan', sans-serif;
    color: gray;
    font-size: medium;
}
/* Tamaño de fuente de los textos */
p, span{
    font-size: 20px;
}
/* Quitar espacios del body */
body{
    margin: 0;
    padding: 0;
}
/* Barra de navegación */
ul.arriba{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: right;
}

li a{
    display: block;
    color: grey;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    padding: 30px 16px;

}
ul li a.refuerso{
    margin: 20px 100px 20px auto;
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0px 5px 30px -10px blue;
}

ul li.izquierda a{
    padding: 30px 100px;
    color: blue;
    font-size: x-large;
    font-weight:700;
    letter-spacing: 1px;
}
ul li.izquierda{
    float: left;
}
/*seccion superior*/
section.sec1{
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: inline-flex;
}
/* contendor lado izquierdo */
.container1{
    padding-top: 100px;
    padding-left: 120px;
    width: 50%;
}
/* Formato del texto */
h2.h2grande{
    font-weight:bolder;
    font-size: 65px;
    color: rgb(51, 51, 138);
}
/* Formato del spam despues de los iconos */
img{
    vertical-align: middle;
    margin-right: 10px;
}
/* Contenedor lado derecho */
.container2{
    width: 50%;
    margin: 0;
    padding: 0;
}
img.enfermera{
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Caja flotante para agendar cita de vacuna*/
div.agendar{
    position: absolute;
    z-index: 2;
    top: 550px;
    left: 120px;
    width: 64%;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
    gap: 50px;
    grid-auto-rows: minmax(5px, auto); /* Numero de filas automatico */
    align-items: center;
}
/* Link 1 (fila 1)*/
.uno{
    grid-column: 1;
    grid-row: 1;
    
}
img.reloj{
    margin-right: 10px;
    box-shadow: 0px 5px 30px -8px blue;
}
/* Link 2 (fila 2) */
.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 10px;
    grid-auto-rows: minmax(5px, auto);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.89);
    margin: 0;
    padding: 20px;
    box-shadow: 0px 5px 30px -20px blue;
    border-radius: 6px;
}
/* Celdas dentro de la celda .menu */
.dos{
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}
.tres{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}
.cuatro{
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
}
.cinco{
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    vertical-align: middle;

}
/* Boton de enviar */
input.enviar{
    border:none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    background-color: blue;
    box-shadow: 0px 5px 30px -10px blue;
    font-size:medium;
}
/* Formato de los parrfos de la caja flotante */
p.contenedor{
    font-size: larger;
    font-weight:900;
    color: rgb(51, 51, 138);
    margin: 10px 0 0 50px;
}
/* Sección 2 */
section.sec2{
    margin: 0;
    padding: 0;
    width: 100%;
}
img.farmaceuticas{
    width: 100%;
    margin: 0;
    padding: 0;
}
h2{
    font-weight:bolder;
    font-size: 40px;
    color: rgb(51, 51, 138);
}
h2.txtsec2, p.txtsec2{
    padding-left: 120px;
}
div.cuadros{
    margin: auto;
    padding: 10px;
    display: flex;
    width: 80%;
}
.cuadros div{
    width: 25%;
    margin: 10px;
    padding: 30px 30px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
    /* box-shadow: 0px 0px 30px -23px gray; */
    line-height: 25px;
}
p.subtitulo{
    font-size: x-large;
    color: rgb(51, 51, 138);
}
p.txtsec2{
    margin-bottom: 70px;
}
/* Sección 3 */
section.sec3{
    padding: 0;
    margin: 0;
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
}
.container3, .container4{
    width: 50%;
    margin: 0;
    padding: 0;
}
img.mujer{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}
/* Redondeo de los iconos */
#mini{
    border-radius: 5px;
}
div.container4{
    margin: 0 80px;
}
div.info{
    margin: 10px;
    padding: 15px 15px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
    /* box-shadow: 0px 0px 30px -23px gray; */
    line-height: 25px;
}
img.izquierda{
    float: right;
}
/* Sección 4 */
section.sec4{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    display: inline-flex;
}
.container5, .container6{
    width: 50%;
}
img.enfermero{
    width: 100%;
    padding: 0;
    margin: 0;
}
div.container5{
    padding: 0 50px;
}
.contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columnas */
    gap: 5px;
    grid-auto-rows: minmax(5px, auto);
    align-items: center;
    margin: 0;
}
div.call{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    vertical-align: middle;
    padding: 50px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
}
div.chat{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    vertical-align: middle;
    padding: 50px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
}
div.vidcall{
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    vertical-align: middle;
    padding: 50px 25px;
    margin: 0px 0px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
}
.msn{
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    vertical-align: middle;
    padding: 50px;
    margin: 0 45px;
    border-radius: 17px;
    border: 4px solid rgba(128, 128, 128, 0.050);
}
input.btn{
    background-color: #D1E4FF;
    border:none;
    border-radius: 5px;
    padding: 10px 30px;
    color: blue;
    font-size: medium;
    font-weight: bolder;
}
input.btnw{
    background-color: blue;
    border:none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: medium;
    font-weight: bolder;
}
/* Footer */
footer{
    background-color: #D1E4FF;
    padding: 0;
    margin-top: 90px;
    width: 100%;
    
}
.sections-up--info{
    display: flex;
    padding: 30px;

    height: 140px;
}
.footer-sections-down{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
address{
    justify-content: flex-end;
}
.up-info--one{
    width: 33%;
}
.up-info--two{
    width: 33%;
}
.up-info--two{
    width: 33%;
}
.sections-up--info h2{

    margin-bottom: 10px;
}
.sections-up--info p{
    margin-top: 5px;
}
.info-three-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
}
.footer-about,
.footer-company,
.footer-support{
    width: 170px;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
}

